
.contentbox {
    display: flex;
    flex-direction: column;
}

#contentbox {

}

#addTodoInput {
    width: 144px;
    margin-bottom: 5px;
    margin-left: 10px;
    
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    width: 72px;
    height: 25px;
    margin-left: 10px;
}

